# "Reading EIA production data download"
> "Accessing EIA excel file with Jupyter"

In this post, we'll process a downloaded excel file from EIA using Jupyter to access the data smoothly. If you'd like to access EIA data via API, see my <a href='https://ujpradhan.github.io/blog/2021/01/22/US-oil-&-gas-production-with-EIA.html' target='_blank'>previous post</a>.

We will use the EIA Drilling Productivity Report (DPR) in this example. The DPR provides monthly data on oil and gas production and rig counts by major basins in the US. You can download the latest release <a href='https://www.eia.gov/petroleum/drilling/' target='_blank'>here</a>. Browse through the excel file to familiarize yourself.

In [26]:
#import customary packages
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
#read excel download
xl = pd.ExcelFile(r"C:\Users\ujpra\Documents\Python\blog\_notebooks\dpr-data_011921.xlsx")

#create list of sheet names in the excel file
sheets = xl.sheet_names 

#i like defining simple names for individual dataframes later
basin_name = ["anadarko", "appalachia", "bakken", "eagle_ford", "haynesville", "niobrara", "permian"] 

x = 0
basins = {}

for i in basin_name:
    df = pd.read_excel(r"C:\Users\ujpra\Documents\Python\blog\_notebooks\dpr-data_011921.xlsx", 
                            sheet_name=sheets[x],
                            skiprows=range(0, 1))

    df["Month"] = pd.to_datetime(df["Month"])

    df = df.set_index("Month")

    df.columns = ['rig', 'oil_per_rig', "oil_prod_chg", "oil_prod",
                    'gas_per_rig', 'gas_prod_chg', 'gas_prod']

    basins[basin_name[x]] = df

    x += 1

In [28]:
#let's check permian data to make sure above code works

basins['permian'].tail()

,rig,oil_per_rig,oil_prod_chg,oil_prod,gas_per_rig,gas_prod_chg,gas_prod
Month,,,,,,,
2020-10-01,133.0,1211.96090,-142189.13,4342702.43,2333.06519,-360048.73,16633751.9
2020-11-01,155.0,1260.43934,-158616.12,4373153.77,2426.38780,-381516.66,16553107.3
2020-12-01,170.0,1197.41737,-182090.32,4350319.96,2305.06841,-417633.67,16442047.7
2021-01-01,NaN,1173.46902,-199253.52,4332954.13,2258.96704,-427276.60,16364911.0
2021-02-01,NaN,1138.26495,-206396.45,4320062.72,2191.19803,-434202.77,16303211.9

In [30]:
#let's create a dataframe with just permian oil and gas production
permian_prod = basins['permian'][['oil_prod', 'gas_prod']]
permian_prod.tail()

              oil_prod    gas_prod
Month
2020-10-01  4342702.43  16633751.9
2020-11-01  4373153.77  16553107.3
2020-12-01  4350319.96  16442047.7
2021-01-01  4332954.13  16364911.0
2021-02-01  4320062.72  16303211.9

In [32]:
#want to check month-on-month growth rates, use pct_change() function
permian_prod.pct_change().tail()

            oil_prod  gas_prod
Month
2020-10-01  0.023421 -0.036704
2020-11-01  0.007012 -0.004848
2020-12-01 -0.005221 -0.006709
2021-01-01 -0.003992 -0.004691
2021-02-01 -0.002975 -0.003770